body {
    font-family: FNMedium;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #3d4b52;
  -webkit-box-shadow: 0 0 0px 1000px #ebeef0 inset, 0 1px 0px 0 #3d4b52; // 
  transition: background-color 5000s ease-in-out 0s;
}
.dark {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #3d4b52;
        -webkit-box-shadow: 0 0 0px 1000px #2b3d42 inset, 0 1px 0px 0 #ebeef0; // 
        transition: background-color 5000s ease-in-out 0s;
    }
}
::-moz-selection { /* Code for Firefox */
    color: #324046; 
    background: #16d6aa;
}

::selection {
    color: #324046; 
    background: #16d6aa;
}

:focus {outline:none !important;}
h1, h2, h3, h4, h5 {
    font-family: FNMedium;
}

h4 {
    font-size: 15px;
    letter-spacing: 1px;
}
