ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.tempWrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .appWrap {
     background-color: $colorBgLight;
     width: 362px;
     height: 591px;
     border-radius: $angularMin;
     overflow: hidden;
 }