@font-face {
    font-family: FNBold;
    src: url('../fonts/FuturaNew/FuturaNewBold.otf') format('opentype');
}

@font-face {
    font-family: FNBook;
    src: url('../fonts/FuturaNew/FuturaNewBook.otf') format('opentype');
}

@font-face {
    font-family: FNDemi;
    src: url('../fonts/FuturaNew/FuturaNewDemi.otf') format('opentype');
}

@font-face {
    font-family: FNHeavy;
    src: url('../fonts/FuturaNew/FuturaNewHeavy.otf') format('opentype');
}

@font-face {
    font-family: FNMedium;
    src: url('../fonts/FuturaNew/FuturaNewMedium.otf') format('opentype');
}
