@mixin cutTxt() {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 
 @mixin hardwareAccel() {
    transform: translateZ(0);
}
 
@mixin noSelection() {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@mixin onBtnFocus (
    $angular,
    $outerBorderWidth,
    $innerBorderWidth,
    $color
    ) {
    display: inline-block;
    position: relative;

    @include hardwareAccel();

    &:before {
        content: '';
        position: absolute;
        transition: top $speed,
                    right $speed /2,
                    bottom $speed /2,
                    left $speed;
        border-radius: $angular + 2px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &:not(:active) {
        &:focus {
            &:before {
                border: $outerBorderWidth solid $color;
                top: -($outerBorderWidth + $innerBorderWidth);
                right: -($outerBorderWidth + $innerBorderWidth);
                bottom: -($outerBorderWidth + $innerBorderWidth);
                left: -($outerBorderWidth + $innerBorderWidth);
            }
        }
    }
}

@mixin onLinkFocus (
    $angular,
    $outerBorderWidth,
    $innerBorderWidth,
    $color
    ) {
    position: relative;
    
    @include hardwareAccel();
    
    &:before {
        content: '';
        position: absolute;
        transition: top $speed,
                    right $speed /2,
                    bottom $speed /2,
                    left $speed;
        border-radius: $angular + 2px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &:not(:active) {
        &:focus {
            &:before {
                border: $outerBorderWidth solid $color;
                top: -($outerBorderWidth + $innerBorderWidth);
                right: -($outerBorderWidth + $innerBorderWidth);
                bottom: -($outerBorderWidth + $innerBorderWidth);
                left: -($outerBorderWidth + $innerBorderWidth);
            }
        }
    }
}
