@mixin cateText(){
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 
 @mixin hardwareAccel() {
    transform: translateZ(0);
}
 
%noSelection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}