

$colorBgDark:       rgb(43, 61, 66); // #2b3d42;
$colorBgLight:      rgb(235, 238, 240); // #ebeef0;
$colorLink:         rgb(93, 101, 105); // #5d6569
$colorLinkFocus:    rgb(125, 137, 142); // #7d898e
$colorLinkHover: $colorLinkFocus;

$colorError:        rgb(235, 44, 78); // #eb2c4e

$colorShadow:       rgba(82, 92, 96, .5); // #525c60
$colorOutline: $colorShadow;

$colorDisabled:     rgb(204, 207, 211); // #cccfd3

$colorFontPrimary:  rgb(61, 73, 76); // #3d494c;

$fontPrimary: Helvetica;
$fontSize:  1;
$fontUnit: 1em;

$angularMin: 3px;
$angularMax: 16px;

$speed: .3s;