.checkbox-container {
    display: inline-block;
    cursor: pointer;

    input {
        width: 0;
        height: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    .icon-checkbox {
        cursor: pointer;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid #495155;
        background: transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:before {
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-out;
            color: #343f44;
            font-size: 13px;
            transform: translateY(1px);
        }
    }

    .text {
        font-family: FNBook;
        font-size: 14px;
        color: #616669;
        font-weight: 400;

        padding-left: 16px;
        letter-spacing: 0.3px;
    }

    label {
        cursor: pointer;
        display: flex;
    }

    input:checked ~ label {
        .icon-checkbox {
            background-color: #7ad5ab;
            border-color: #7ad5ab;
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}