.header {
    height: 40px;
    background-image: url(../images/headerBg.jpg);
    display: flex;
    justify-content: space-between;

    &-bridge-image {
        user-select: none;
        height: 103px;
        width: 100%;
        background-image: url(../images/bridge-header-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;  
        align-items: center;
        justify-content: center;


		.logo {
			max-width: 135px;
			margin-bottom: 1px;
		}
    }
}
