.navbar {
    border-top: 1px solid #31393d;
    position: relative;
    height: 63px;
    background-image: url(../images/navbarBg.jpg);
    ul {
        height: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px 0 16px;
        li {
            &:only-child,
            &:last-child {
                &.page-title {
                    margin: auto;
                }
            }

        }

        .btn-nav-wrap {
			display: flex;

            & + .page-title {
                margin-right: auto;
                padding: 0 20px 0 0;
                & + .link-nav {
                    margin-left: auto;
                }
            }
        }
        .page-title {
            font-family: FNBook;
            color: #FFFFFF;
            font-size: 20px;
			letter-spacing: 1px;
			display: flex;
			-webkit-font-smoothing: antialiased;
			
            & + .link-nav {
                margin-left: auto;
			}
			
			span {
				max-width: 180px;
				margin-right: 5px;
				@include cutTxt();
			}
        }
        .link-nav {
            font-family: FNBook;
            a {
                color: #59B597;
                font-size: 13px;
				letter-spacing: 1px;
				position: relative;
				transition: color $speed;
				&:hover {
					color: #71E4BE;
				}
				&:active {
					color: rgba(#71E4BE,.5)
				}
				@include hardwareAccel();
				&:before {
					content: '';
					position: absolute;
					transition: border-color $speed;
					border: 2px solid transparent;
					border-radius: $angularMin + 2px;
					top: -4px;
					right: -8px;
					bottom: -6px;
					left: -8px;
				}
				&:not(:active) {
					&:focus {
						color: #71E4BE;
						&:before {
							border-color: rgba(#fff, .15);;
						}
					}
				}
            }
        }
        .btn-nav {
			margin: 0 10px 0 -10px;
        }
    }
    &:before {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        display: block;
        content: "";
        background-color: rgba(#85daa7, .03);
        height: 1px;

    }
}
