
.sidebar {
    top: 40px;
    &-header {
        height: 150px;
        background-color: rgba(#324046,1);
        position: relative;
        z-index: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:before {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            content: "";
            opacity: .07;
            background-position: center;
			background-image: url(../images/sidebarBg.jpg);
			background-repeat: no-repeat;
            z-index: -1;
        }
        .btn-icon {
			padding: 0;
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 0 0 -6px;
        }

    }
    &-body {
        background-color: rgba(#324046,1);
        height: calc(100% - 150px);
		padding: 83px 36px 52px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    }
    &-user {
        display: flex;
        align-items: center;
        color: #97ACAD;
        font-family: FNBook;
        margin: auto 0px 13px 6px;
        .name {
            margin: -3px 0px 0 17px;
            font-size: 20px;
            letter-spacing: 0.7px;

        }
    }
    &-dimmer {
        position: absolute;
        width: 42px;
        background-color: transparent;
        top: 0;
        left: 100%;
        padding: 0;
        border: 0;
        bottom: 0;
        z-index: 33;
    }
    .trap-wrap {
        height: 100%;
    }

}

.nav-list {
    li {

        &:not(:last-child) {
            margin-bottom: 7px;
		}

		&:nth-child(1) a {
			&:before {
				background-image: url('../images/icons/navigation_wallet_grey.svg');
			}
			&.active {
				&:before {
					background-image: url('../images/icons/navigation_wallet_emerald.svg');
				}
			}
		}
		&:nth-child(2) a {
			&:before {
				background-image: url('../images/icons/navigation_history_grey.svg');
			}
			&.active {
				&:before {
					background-image: url('../images/icons/navigation_history_emerald.svg');
				}
			}
			
		}
		&:nth-child(3) a {
			&:before {
				background-image: url('../images/icons/navigation_backup_grey.svg');
			}
			&.active {
				&:before {
					background-image: url('../images/icons/navigation_backup_emerald.svg');
				}
			}
		}
		&:nth-child(4) a {
			&:before {
				background-image: url('../images/icons/navigation_info_grey.svg');
			}
			&.active {
				&:before {
					background-image: url('../images/icons/navigation_info_emerald.svg');
				}
			}
		}
		
        a {
            color: #6d7f80;
            font-size: 18px;
            letter-spacing: .5px;
            height: 30px;
            display: flex;
			align-items: center;
			
            transition: color $speed;
            -webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;


			&:before {
				width: 30px;
				height: 30px;
				background-size: 20px;
				background-position: center;
				background-repeat: no-repeat;
				content: '';
				opacity: .3;
				transition: opacity $speed;
			}

			&.active {
				color: #61D3AD;
				&:hover,
				&:focus {
					color: #71E4BE;
				}
				&:before {
					opacity: 1;
				}

			}

			
            &:hover,
            &:focus {
				color: #d4dede;
				&:before {
					opacity: 1;
				}
			}

        }
    }
}
.nav-title {
    margin-left: 10px;
}
.icon-navWallet {
    font-size: 29px;
    &:before {
        margin-left: -2px;
    }
}

.icon-navHistory {
    font-size: 30px;
    &:before {
        margin-left: -1px;
    }
}
.icon-navBackup {
    font-size: 29px;
}

.icon-navInfo {
    font-size: 29px;
}