.return-block {
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #dfe2e4;
    padding: 0 15px;
    & + .page-wrap {
        padding-top: 35px;
        max-height: 443px;
        .page {
            min-height: 338px;
        }
    }
}

.icon-network {
    background-color: #e3e6e8;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 auto auto;
}

.success {
    &-text {
        text-align: center;
        font-family: FNMedium;
        font-size: 22px;
        color: #3E4851;
        letter-spacing: 1px;
        margin-top: 86px;
    }
    &-desc {
        font-family: FNBook;
        color: #3F4A52;
        text-align: center;
        max-width: 230px;
        margin: 19px auto 0;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 17px;
        
    }
}