.return-block {
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #dfe2e4;
	padding: 0 20px;
	&.transparent {
		background-color: transparent;
	}
    &.absolute {
        position: absolute;
        top: 10px;
    }
}

.icon-pageNetwork {
	border-radius: 50%;
    height: 50px;
    margin: 0 auto auto;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    &-text {
        text-align: center;
        font-family: FNMedium;
        font-size: 22px;
        color: #3E4851;
        letter-spacing: 1px;
        margin-top: 77px;
    }
    &-desc {
        font-family: FNBook;
        color: #3F4A52;
        text-align: center;
        max-width: 230px;
        margin: 19px auto 0;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 17px;
        & + .one-btn-wrap {
            margin: 40px 0 0 -8px;
            .btn-transparent.compact {
                min-width: 155px;
            }
            justify-content: center;
        }
    }
}

.networks-scroll {
    height: 443px;
    .page-wrap {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .page {
            min-height: 348px;
        }
	}
	.page-action-wrap {
		.btn-in-dark,
		.btn-in-light,
		.btn-transparent,
		.btn-inverted {
			min-width: 220px;
		}
	}

}

.network-page {
	&.page-wrap {
		padding-top: 40px;
	}


	.page {
		padding: 0 12px 35px;

	}

	.block {
		text-align: center;
		margin-top: 20px;
		&-title {
			color: rgba(#3F4A52, .7);
			font-size: 14px;
			letter-spacing: 0.2px;
		}
		&-number {
			color: #3F4A52;
			font-family: FNMedium;
			font-size: 18px;
			margin-top: 8px;
			letter-spacing: 1px;
		}
	}

	.network-table {
		background-color: #DFE3E5;
		padding: 20px 15px;
		margin-top: 26px;
		.line {
			display: flex;
			align-items: baseline;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 16px;
				span {
					&:nth-child(2) {
						@include cutTxt();
					}
				}
			}
			span {

				font-size: 14px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				line-height: 20px;
				&:nth-child(1) {
					color: #90999A;

				}
				&:nth-child(2) {
					color: #2C393D;
					max-width: 180px;
				}
			}
		}
	}
}
