.wallet-block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #81888C;

    & + .page-wrap {
        padding: 0;
        height: 443px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .page {
            padding: 0 8px;
            .scroll-wrap {
                height: 346px;
                display: flex;
            }
            &-action-wrap {
                height: 92px;
                align-items: center;
            }

            // flex-direction: column;
        }
    }
    .btn-transparent {
        width: 140px;
        margin: 4px -6px 0 0;
    }
}
.scroll-wrap {
    background-color: #dfe3e7;
    position: relative;
    &:after {
        content: "";
        background-image: url(../images/walletBg.jpg);
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
}
.wallet-list {
    position: relative;
    height: 100%;
    z-index: 2;
    &.one,
    &.two,
    &.three {
        li {
            height: 100%;
            .balance-info {
                display: inline-block;
                text-transform: uppercase;
                
                margin-top: -14px;
                margin-right: -3px;
                
                font-size: 25px;
                span {
                    &:nth-child(1) {
                        letter-spacing: 0px;
                        font-size: 33px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    &.two {
        li {
            height: 50%;
        }
    }
    &.three {
        li {
            height: 33.3333%;
        }
    }
    
    li {
        height: 86.5px;
        position: relative;
        font-family: FNMedium;
        color: #3E4851;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: background-color $speed;
        &:hover {
            background-color: rgba(#fff, .2);
        }
        &:not(:last-child) {
            &:before,
            &:after {
                position: absolute;
                right: 0;
                left: 0;
                height: 1px;
                content: "";
            }
            &:before {
                background-color: rgba(#000,.05);
                bottom: -1px;
            }
            &:after {
                background-color: rgba(#fff,.2);
                bottom: -2px;
            }
        }
        .balance-info {
            display: inline-block;
            text-transform: uppercase;
            margin-top: 3px;
            margin-right: -3px;
            font-size: 23px;
            span {
                &:nth-child(1) {
                    font-size: 28px;
                    margin-right: 8px;
                }
            }
        }
        .token-info {
            font-size: 10px;
            line-height: 25px;
            margin-bottom: -17px;
            letter-spacing: 2.3px;
            span {
                &:nth-child(1) {
                    margin-right: 3px;
                }
            }
        }
        .btn-icon {
            position: absolute;
            right: 14px;
            top: 19px;
            padding: 0;
            font-size: 18px;
            &:before {
                margin-top: 1px;
                display: block;
            }
        }
    }
}