// BTNS:
// btn-in-dark, btn-in-light, btn-transparent, btn-inverted, btn-copy,
// btn-noborder, btn-nav, btn-logout, btn-round-close, btn-icon

// SIZE: compact
// STATE: error, disabled


%btn {
    @include noSelection();
    font-family: FNBold;
    text-transform: uppercase;
    line-height: 0;
    position: relative;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 11px;
    height: 34px;
    transition:
    background-color $speed,
    border $speed,
    color $speed;
    padding: 0;

    &.disabled {
        pointer-events: none;
        border: 2px solid $colorDisabled;
        background-color: transparent;
        color: #b6b9be;
        transition: none;
    }

    &.loading {
        background-color: #dfe2e4 !important;
        color: #dfe2e4 !important;
        border-color: #dfe2e4 !important;
        pointer-events: none;
        z-index: 1005;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 130px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            background: linear-gradient(to left, rgba(175,179,185,1) 0%,rgba(191,195,200,1) 36%,rgba(212,216,219,0.63) 83%,rgba(220,223,226,0.63) 100%);
            animation: loader 0.75s infinite normal linear;
        }

        @keyframes loader {
            from {
                left: -120%;
            }

            to {
                left: 120%;
            }
        }
    }

    &.compact {
       height: 25px;
       font-size: 10px;

       .btn-text {
           letter-spacing: 2.2px;
           font-size: 10px;
       }
    }
}

@mixin onBtnFocus (
    $angular,
    $outerBorderWidth,
    $innerBorderWidth,
    $color
    ) {
    display: inline-block;
    position: relative;

    @include hardwareAccel();

    &:before {
        content: '';
        position: absolute;
        transition: top $speed,
                    right $speed /2,
                    bottom $speed /2,
                    left $speed;
        border-radius: $angular + 2px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &:not(:active) {
        &:focus {
            &:before {
                border: $outerBorderWidth solid $color;
                top: -($outerBorderWidth + $innerBorderWidth);
                right: -($outerBorderWidth + $innerBorderWidth);
                bottom: -($outerBorderWidth + $innerBorderWidth);
                left: -($outerBorderWidth + $innerBorderWidth);
            }
        }
    }
}

// Btns

%btnIn {
    @extend %btn;
    font-family: FNBold;
    background-color: #16d6aa;
    border-radius: $angularMax;
    border: 1px solid #16d6aa;
    color: #324046;
    &:not(.disabled) {
        &:hover {
            border: 1px solid #35e8bb;
            background-color: #35e8bb;
        }
        &:active {
            border: 1px solid #00c198;
            background-color: #00c198;
            color: rgb(47, 112, 98);
        }
    }
}

.btn {

    &-in-dark {
        @extend %btnIn;
        &:not(.disabled) {
           @include onBtnFocus (
                $angularMax,
                2px,
                2px,
                #4c5c60
           );
        }
    }

    &-text {
        margin-right: -3px;
    }

    &-in-light {
        @extend %btnIn;
        &:not(.disabled) {
           @include onBtnFocus(
                $angularMax,
                2px,
                2px,
                #d0d5d7
           );
        }
    }

    &-inverted {
        @extend %btn;
        background-color: #344148;
        border-radius: $angularMax;
        border: 1px solid #344148;

        color: #16d6aa;
        &:not(.disabled) {
            &:hover {
                border: 1px solid #21292e;
                background-color: #21292e;
            }
            &:active {
                border: 1px solid #253b3b;
                background-color: #253b3b;
                color: #24957b;
            }
            @include onBtnFocus (
                $angularMax,
                2px,
                2px,
                #d0d5d7
            );
        }
    }

    &-transparent {
        @extend %btn;
        background-color: transparent;
        color: #535e65;
        border-radius: $angularMax;
        border: 1px solid #c3c7cc;

        &:not(.disabled) {
            &:hover {
                border: 1px solid #a6abb1;
            }
            &:focus {
                background-color: transparent;
                border: 1px solid #c3c7cc;
            }
            &:active {
                border: 1px solid #c4c6c9;
                background-color: #e1e3e4;
                color: #9aa1a4;
            }
            &:not(:active) {
                @include onBtnFocus (
                    $angularMax,
                    2px,
                    1px,
                    #dde1e4
                );
            }
        }
        &.compact {
            .btn-text {
                display: block;
                font-family: FNMedium;
                letter-spacing: 2px;
                font-size: 11px;
                margin: 2px 0 0 0;
                letter-spacing: 2.3px;
                font-size: 11px;
            }
        }
    }

    &-copy {
        @extend %btn;
        font-family: FNMedium;
        background-color: #ffffff;
        color: #535e65;
        border-radius: $angularMax;
        border: 1px solid #c3c7cc;

        width: 200px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 25px;
        top: 0;
        right: 0;
        transition: color $speed, background-color $speed;
        &.compact {
            .btn-text {
                letter-spacing: 2.3px;
                font-size: 11px;
                margin: 1px 0 0 0;
            }
        }

    }

    &-noborder {
        @extend %btn;
        &:not(.disabled) {
            @include onBtnFocus(
                 $angularMax,
                 2px,
                 0px,
                 #d0d5d7
            );
        }
        background-color: transparent;
        color: #3e494f;
        border: 1px solid transparent;
        border-radius: $angularMax;
        &:hover {
            color: #3b4952;
            background-color: #dfe2e4;
            border: 2px solid transparent;
        }

        &:active {
            background-color: #d8dcde;
            color: #798086;
            border: 2px solid transparent;
        }

        i {
            margin-right: 13px;
        }

    }

    &-nav {
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: 0;
        cursor: pointer;
        font-size: 18px;
        color: #5c7071;
        transition: color linear $speed;
        -webkit-transform: translateZ(0);

        &:hover,
        &:focus {
            color: #88a5a6;

        }

        &:active {
            color: #506869;
        }
    }

    &-logout {
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        color: rgba(#fff, .4);
        transition: background-color $speed, color $speed;
        cursor: pointer;
        &:hover {
            background-color: #3a4a4e;
            color: #fff;
        }
        &:before {
            content: $icon-exit;
            font-size: 20px;
            margin: 1px -3px 0 0;
            display: block;
        }
    }

    &-round-close {
        background-color: transparent;
        border-radius: 50%;
        height: 23px;
        width: 23px;
        border: 0;
        color: #adb3b9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 7px 0 -7px;
        transition: background-color $speed;
        cursor: pointer;
        &:hover {
            background-color: #363f42;
        }
        &:before {
            display: block;
            margin: 2px -1px 0 0;
        }
    }
    &-icon {
        background-color: transparent;
        border: 0;
        color: #aeb4b8;
        transition: color $speed;
        &:hover {
            color: #363f42;
        }
    }

}

// Btns wrap

.btn-copy-wrap {
    position: relative;
    width: 200px;
    display: flex;
    height: 25px;
    justify-content: flex-end;
    transform: width $speed;
    border: 0;
    border-radius: $angularMax;
    transition: width $speed / 2;
    &:not(.copied) {
        @include onBtnFocus (
            $angularMax,
            2px,
            0px,
            #dde1e4
        );
    }
    &:active {
        .btn-copy {
            background-color: #efeff0;
        }
    }
    &:hover {
        .btn-copy {
            background-color: #f9f9fa;
        }
    }
    &.copied {
        width: 226px;
    }

    &:after {
        border-radius: $angularMax;
        content: "\e913";
        font-family: '#{$icomoon-font-family}';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        height: 23px;
        background-color: #efeff0;
        border: 1px solid #efeff0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #b4b8bc;
        padding-left: 6px;
        font-size: 15px;
    }
}

.one-btn-wrap {
    display: flex;

    .btn-in-dark,
    .btn-in-light,
    .btn-transparent,
    .btn-noborder,
    .btn-inverted {
        min-width: 200px;
        &.compact {
            min-width: 150px;
        }
    }

 }

 .two-btn-wrap {
    display: flex;

    button {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .btn-in-dark,
    .btn-in-light,
    .btn-transparent,
    .btn-noborder,
    .btn-inverted {
        min-width: 145px;
    }

}
