// BTNS:
// btn-in-dark, btn-in-light, btn-transparent, btn-inverted, btn-copy,
// btn-noborder, btn-nav, btn-logout, btn-round-close, btn-icon, btn-try

// SIZE: compact
// STATE: error, disabled


%btn {
    @include noSelection();
    font-family: FNBold;
    text-transform: uppercase;
    line-height: 0;
    position: relative;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 11px;
    height: 34px;
    transition:
    background-color $speed,
    border $speed,
    color $speed;
    padding: 0;

    &.disabled {
        pointer-events: none;
        border: 2px solid $colorDisabled;
        background-color: transparent;
        color: #b6b9be;
        transition: none;
    }

    &.loading {
        background-color: #dfe2e4 !important;
        color: #dfe2e4 !important;
        border-color: #dfe2e4 !important;
        pointer-events: none;
        z-index: 1005;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 130px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            background: linear-gradient(to left, rgba(175,179,185,1) 0%,rgba(191,195,200,1) 36%,rgba(212,216,219,0.63) 83%,rgba(220,223,226,0.63) 100%);
            animation: loader 0.75s infinite normal linear;
        }

        @keyframes loader {
            from {
                left: -120%;
            }

            to {
                left: 120%;
            }
        }
    }

    &.compact {
       height: 25px;
       font-size: 10px;

       .btn-text {
           letter-spacing: 2.2px;
           font-size: 10px;
       }
    }
}

// Btns

%btnIn {
    @extend %btn;
    font-family: FNBold;
    background-color: #16d6aa;
    border-radius: $angularMax;
    border: 1px solid #16d6aa;
    color: #324046;
    &:not(.disabled) {
        &:hover {
            border: 1px solid #35e8bb;
            background-color: #35e8bb;
        }
        &:active {
            border: 1px solid #00c198;
            background-color: #00c198;
            color: rgb(47, 112, 98);
        }
    }
}

.btn {

    &-in-dark {
        @extend %btnIn;
        &:not(.disabled) {
           @include onBtnFocus (
                $angularMax,
                2px,
                2px,
                rgba(#fff, .15)
           );
        }
    }

    &-text {
        margin-right: -3px;
    }

    &-in-light {
        @extend %btnIn;
        &.link {
            &:not(.disabled):not(:active) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:active,
            &.disabled {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &:not(.disabled) {
           @include onBtnFocus(
                $angularMax,
                2px,
                2px,
                rgba(#2E3C42,.15)
           );
        }
    }

    &-inverted {
        @extend %btn;
        background-color: #344148;
        border-radius: $angularMax;
        border: 1px solid #344148;
        color: #16d6aa;
        &.success {
            color: #7ad5ab;
            &:not(.disabled) {
                @include onBtnFocus (
                    $angularMax,
                    2px,
                    2px,
                    rgba(#515560,.3)
                );
            }
        }
        &.error {
            color: #d56468;

            &:not(.disabled) {
                &:active {
                    color: #d56468;
                }
                @include onBtnFocus (
                    $angularMax,
                    2px,
                    2px,
                    rgba(#515560,.3)
                );
            }
        }
        &:not(.disabled) {
            &:hover {
                border: 1px solid #21292e;
                background-color: #21292e;
            }
            &:active {
                border: 1px solid #253b3b;
                background-color: #253b3b;
                color: #24957b;
            }
            @include onBtnFocus (
                $angularMax,
                2px,
                2px,
                rgba(#fff,.15)
            );
        }
    }

    &-transparent {
        @extend %btn;
        &.link {
            &:not(.disabled):not(:active) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:active,
            &.disabled {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        background-color: transparent;
        color: #535e65;
        border-radius: $angularMax;
        border: 1px solid #c3c7cc;

        &:not(.disabled) {
            &:hover {
                border: 1px solid #a6abb1;
            }
            &:focus {
                background-color: transparent;
                border: 1px solid #c3c7cc;
            }
            &:active {
                border: 1px solid #c4c6c9;
                background-color: #e1e3e4;
                color: #9aa1a4;
            }
            &:not(:active) {
                @include onBtnFocus (
                    $angularMax,
                    2px,
                    1px,
                    #dde1e4
                );
            }
        }
        &.compact {
            .btn-text {
                display: block;
                font-family: FNMedium;
                letter-spacing: 2px;
                font-size: 10px;
                margin: 2px 0 0 0;
                letter-spacing: 3.8px;
            }
        }
    }

	&-lock {
		cursor: pointer;
		display: flex;
		align-items: center;
		background-color: transparent;
		color: #7E9090;
		font-size: 13px;
		font-family: FNMedium;
		border: 0;
		transition: color $speed;
		padding: 0;
		letter-spacing: .6px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&:hover,
		&:focus {
			color: #D6DDDE;
			img {
				opacity: 1;
			}
		}

		img {
			width: 20px;
			margin: 0 4px 0 0;
			opacity: .4;
			transition: opacity $speed;
		}
	}

    &-noborder {
        @extend %btn;
        &:not(.disabled) {
            @include onBtnFocus(
                 $angularMax,
                 2px,
                 0px,
                 #d0d5d7
            );
        }
        background-color: transparent;
        color: #3e494f;
        border: 1px solid transparent;
        border-radius: $angularMax;
        &:hover {
            color: #3b4952;
            background-color: #dfe2e4;
            border: 2px solid transparent;
        }

        &:active {
            background-color: #d8dcde;
            color: #798086;
            border: 2px solid transparent;
        }

        i {
			margin-right: 13px;
			margin-left: -6px;
        }

    }

    &-nav {
		display: flex;
        background-color: transparent;
        width: 30px;
        height: 30px;
		border: 0;
        cursor: pointer;
        transition: opacity .2s;
		opacity: .7;
		&:hover,
        &:focus {
            opacity: 1;
        }
        &:active {
            opacity: .5;
        }
		img {
			width: 20px;
		}
    }

    &-logout {
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        color: rgba(#fff, .4);
		transition: background-color $speed, color $speed;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 0;
        &:hover {
            background-color: #3a4a4e;
            color: #fff;
        }
        &:active {
            img {
                opacity: 0.3;
            }
        }
		img {
			opacity: .7;
			width: 20px;
			margin: 0 -4px 0 0;
			transition: opacity .2s;
		}
    }

    &-round-close {
        background-color: transparent;
        border-radius: 50%;
        height: 23px;
        width: 23px;
        border: 0;
        color: #adb3b9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 7px 0 -7px;
        transition: background-color $speed;
        cursor: pointer;
        &:hover {
            background-color: #363f42;

            &:before {
                opacity: 1;
            }
        }
        &:before {
            display: block;
            margin: 1px -1px 0 0;
            opacity: 0.6;
            transition: opacity $speed;
        }
    }
    &-icon {
        background-color: transparent;
        border: 0;
		cursor: pointer;
		img {
			width: 20px;
			opacity: .6;
			transition: opacity $speed;
		}
		&:hover,
		&:focus {
			img {
				opacity: 1;
			}
        }
    }
    &-try {
        background-color: transparent;
        border: 0;
        font-family: FNMedium;
        font-size: 15px;
        color: #3b454a;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 0;
        margin: -1px 0 0 5px;
        border-bottom: 1px solid transparent;
        transition: border $speed;
        &:focus {
            border-bottom: 1px solid;
        }
	}
	&-copy {
        @extend %btn;
        font-family: FNMedium;
        background-color: #ffffff;
        color: #535e65;
        border-radius: $angularMax;
        border: 1px solid #c3c7cc;
        width: 200px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        // height: 25px;
        top: 0;
        right: 0;
        transition: color $speed, background-color $speed;
        &.compact {
            .btn-text {
                letter-spacing: 2.3px;
                font-size: 11px;
                margin: 1px 0 0 0;
            }
        }
    }

}

// Btns wrap

.btn-copy-wrap {
    position: relative;
    width: 200px;
    display: flex;
    height: 25px;
    justify-content: flex-end;
    transform: width $speed;
    border: 0;
    border-radius: $angularMax;
    transition: width $speed / 2;
    &:not(.copied) {
        @include onBtnFocus (
            $angularMax,
            2px,
            0px,
            #dde1e4
        );
    }
    &:active {
        .btn-copy {
            background-color: #efeff0;
        }
    }
    &:hover {
        .btn-copy {
            background-color: #f9f9fa;
        }
    }
    &.copied {
        width: 226px;
    }

    &:after {
        border-radius: $angularMax;
        content: "\e913";
        font-family: '#{$icomoon-font-family}';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        height: 23px;
        background-color: #efeff0;
        border: 1px solid #efeff0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #b4b8bc;
        padding-left: 6px;
        font-size: 15px;
    }
}

.one-btn-wrap {
    display: flex;

    .btn-in-dark,
    .btn-in-light,
    .btn-transparent,
    .btn-inverted {
        min-width: 200px;
        &.compact {
            min-width: 150px;
        }
	}
	.btn-noborder {
		min-width: 150px;	
	}

 }

 .two-btn-wrap {
    display: flex;

    button,
    a {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .btn-in-dark,
    .btn-in-light,
    .btn-transparent,
    .btn-noborder,
    .btn-inverted {
        min-width: 145px;
    }

}


.button {
    &[class*="select-"] {
        padding: 0;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        position: relative;
        border: 0;
        background-color: transparent;
		border: 1px solid transparent;
		cursor: pointer;
        transition:
            background-color $speed,
            border $speed;

        &:hover {
            &:not(.active) {
                border: 1px solid #b7bdbf;
            }
        }
        &:focus {
            &:not(:active) {
                border: 1px solid #b7bdbf;
            }
        }
        &.active {
            background-color: #fff;
            box-shadow:
            0 -3px 6px rgba(#3f4c4e,0.06),
            0 3px 6px rgba(#3f4c4e,0.06);
        }
        &:before {
            width: 22px;
            height: 22px;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            content: "";
            border-radius: 50%;
        }
    }
    &.select {
        &-green {
            &:before {
                background-color:#64d3ad;
            }
        }
    
        &-sky {
            &:before {
                background-color: #76c5d3;
            }
        }
    
        &-blue {
            &:before {
                background-color: #7683d3;
            }
        }
    
        &-pink {
            &:before {
                background-color: #b989cf;
            }
        }
    
        &-red {
            &:before {
                background-color: #d36496;
            }
        }
        
        &-yellow {
            &:before {
                background-color: #d3c564;
            }
        }
    
        &-lemon {
            &:before {
                background-color: #cbd376;
            }
        }
    }
}