
%btn {
    @extend %noSelection;
    line-height: 0;
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
    height: 34px;
    transition:
    background-color $speed,
    border $speed,
    color $speed;
    padding: 0;
    &.disabled {
          pointer-events: none;
          border: 1px solid $colorDisabled;
          background-color: transparent;
          color: $colorDisabled;
    }
    &.compact {
       height: 25px;
       
    }
}

@mixin onBtnFocus (
    $angular,
    $outerBorderWidth,
    $innerBorderWidth,
    $color
    ) {
    display: inline-block;
    position: relative;
    
    @include hardwareAccel();
    
    &:before {
        content: '';
        position: absolute;
        transition: top $speed,
                    right $speed /2,
                    bottom $speed /2,
                    left $speed;
        border-radius: $angular + 2px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &:not(:active) {
        &:focus {
            &:before {
                border: $outerBorderWidth solid $color;
                top: -($outerBorderWidth + $innerBorderWidth);
                right: -($outerBorderWidth + $innerBorderWidth);
                bottom: -($outerBorderWidth + $innerBorderWidth);
                left: -($outerBorderWidth + $innerBorderWidth);
            }
        }
    }
}

// Btns

%btnIn {
    @extend %btn;
    background-color: #16d6aa;
    border-radius: $angularMax;
 
    border: 1px solid #16d6aa;
    font-size: 12px;
    color: #324046;
    &:not(.disabled) {
        &:hover {
            border: 1px solid #35e8bb;
            background-color: #35e8bb;
        }
        &:active {
            border: 1px solid #00c198;
            background-color: #00c198;
            color: rgb(47, 112, 98);
        }
    }
}

.btn {
    &-dark-primary {
        @extend %btnIn;
        &:not(.disabled) {
           @include onBtnFocus (
                $angularMax,
                2px,
                2px,
                #4c5c60
           );
        }
    }
    &-in-light {
        @extend %btnIn;
        &:not(.disabled) {
           @include onBtnFocus(
                $angularMax,
                2px,
                2px,
                #d0d5d7
           );
        }
    }
    &-inverted {
        @extend %btn;
        background-color: #344148;
        border-radius: $angularMax;
        border: 1px solid #344148;
        font-size: 12px;
        color: #16d6aa;
        &:not(.disabled) {
            &:hover {
                border: 1px solid #21292e;
                background-color: #21292e;
            }
            &:active {
                border: 1px solid #253b3b;
                background-color: #253b3b;
                color: #24957b;
            }
            @include onBtnFocus (
                $angularMax,
                2px,
                2px,
                #d0d5d7
            );
        }
    }
    &-transparent {
        @extend %btn;
        background-color: transparent;
        color: #535e65;
        border-radius: $angularMax;
        border: 1px solid #c3c7cc;
        font-size: 12px;
        &:not(.disabled) {
            &:hover {
                border: 1px solid #a6abb1;
            }
            &:focus {
                background-color: transparent;
                border: 1px solid #c3c7cc;
            }
            &:active {
                border: 1px solid #c4c6c9;
                background-color: #e1e3e4;
                color: #9aa1a4;
            }
            &:not(:active) {
                @include onBtnFocus (
                    $angularMax,
                    2px,
                    1px,
                    #dde1e4
                );
            }
        }
    }
}

// Btns wrap

.one-btn-wrap {
    display: flex;
    .btn-in-dark,
    .btn-in-light,
    .btn-transparent,
    .btn-inverted {
       min-width: 200px;
       &.compact {
          min-width: 150px;     
       }
    }
 }
 
 .two-btn-wrap {
    display: flex;
    button {
       &:not(:last-child) {
          margin-right: 12px;
       }
    }
    .btn-in-dark,
    .btn-in-light,
    .btn-transparent,
    .btn-inverted {
       min-width: 145px;
    }
 }