%dropdown {
    background-color: transparent;
    transition: background-color $speed;
    font-family: FNMedium;
    
    .item {
        z-index: 2;
    }
    .icon {
        transition: color $speed;
    }
}

.ui {
    &.dropdown {
        @extend %dropdown;
        @include noSelection();

        &.active {
            .dropdown-trigger {
                .icon {
                    transform: rotateX(180deg);
                    margin-top: -1px;
                }
            }
        }
        &-user,
        &-network {
            .menu {
                width: 350px;
                margin: 1px 6px 0;
                right: 0;
                box-shadow: 0px 0px 21px 0px rgba(#213034, .9);
            }

            .dropdown {

                &-trigger {
                    transition: background-color $speed;
                    -webkit-transform: translateZ(0);
                    color: #7E9090;
                    font-size: 13px;
                    &:hover {
                        background-color: #2c3a40;
                        .icon {
                            color: #899c9d;
                        }
                    }
                    .icon {
                        margin: 3px 5px 0 7px;
                        color: #495b5f;
                        font-size: 11px;
                    }
                }
            }
        }

        // USER DROPDOWN
        &-user {
            .menu {
                padding: 5px;
                background-color: #36454a;
            }
            .item {
                &:nth-last-child(4) {
                    &:after {
                        background-color: transparent;
                    }
                }
                .create-sub,
                .import-sub {
                    text-transform: uppercase;
                    letter-spacing: 2.2px;
                    font-size: 10px;
                    position: absolute;
                    bottom: 21px;
                    z-index: 2;
                    color: #fff;
                }
                .create-sub {
                    left: 18px;
                }
                .import-sub {
                    left: 168px;

                }
            }
            .user {
                &-item {
                    color: #828C94;
                    transition: background-color $speed, color $speed;
                    &:before,
                    &:after {
                        background-color: #3d4c50;
                        width: 310px;
                        margin: auto;
                        content: "";
                        height: 1px;
                        display: block;
                        transition: background-color $speed;
                    }

                    &:first-child {
                        &:before {
                            background-color: transparent;
                        }
                    }

                    &:not(:first-child) {
                        margin-top: -1px;
                    }

                    &:hover,
                    &.active {
                        background-color: #414f53;
                        color: #ADB4BA;
                        &:before {
                            background-color: #414f53;

                        }
                        &:after {
                            background-color: #414f53;
                        }
                    }
                    &.selected {
                        color: #E4E6E8;
                    }
                    &-wrap {
                        display: flex;
                        align-items: center;
                        height: 37px;
                        padding: 0 2px 0 7px;

                    }
                }
                &-name {
                    margin: 0 auto 0 11px;
                    font-size: 14px;
                    max-width: 138px;
                    @include cutTxt();
                }
                &-balance {
                    margin-right: 5px;
                    font-size: 13px;
                    letter-spacing: .4px;
                    text-transform: uppercase;
                    &.positive {
                        color: #2b8574;
                    }
                }
                &-body {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                }
                &-footer {
                    background-color: #263538;
                    width: 100%;
                    height: 53px;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    &-area {
                        height: 61px;
                    } 
                }
                &-import,
                &-create {
                    text-transform: uppercase;
                    letter-spacing: 2.2px;
                    font-size: 10px;
                    bottom: 21px;

                    &.item {
                        position: absolute;
                    }
                    a {
                        color: #61D3AD;
                    }
                }

                &-create {
                    left: 118px;
                    color: #E4E6E8;

                }
                &-import {
                    left: 186px;
                    color: #828C94;
                    a {
                        margin-left: 6px;
                    }
                }


            }
            
            .dropdown {
                &-trigger {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 76px;
                }
            }

        }

        // NETWORK DROPDOWN

        &-network {

            .dropdown {
                &-trigger {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 9px 0 15px;
                    height: 40px;
                    &:hover {
                        .current-network {
                            &:after {
                                opacity: 1;
                            }
                        }
                        & + .menu.visible {
                            .network-info {
                                opacity: 1;
                            }
                        }
                    }
                    .current-network {
                        display: flex;
                        align-items: center;
                        width: 100px;
                        margin-right: 20px;
                        position: relative;
                        .cut {
                            margin-top: 6px;
                            letter-spacing: .7px;
                            @include cutTxt();
                        }
                        &:before {
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            content: "";
                            display: block;
                            background-color: #ca304e;
                            margin: 3px 7px 0 -1px;
                            transition: background-color $speed;
                        }
                        &:after {
                            content: "Not Connected";
                            position: absolute;
                            pointer-events: none;
                            color: #ca304e;
                            width: 104px;
                            text-align: right;
                            opacity: 0;
                            transition: color $speed, opacity $speed;
                            text-transform: uppercase;
                            font-size: 10px;
                            letter-spacing: 2px;
                            right: 128px;
                            top: 6px;
                        }
                        &.connected {
                            &:before {
                                background-color: #78d2a8;

                            }
                            &:after {
                                content: "Connected";
                                color: #78d2a8;
                            }
                        }
                    }
                }
            }

            .menu {
                background-color: #36454a;
                padding: 5px;
                left: auto;
                .add-network {
                    position: absolute;
                    text-transform: uppercase;
                    letter-spacing: 2.2px;
                    font-size: 10px;
                    bottom: 21px;
                    color: #61D3AD;
                    left: 18px;
                }

                section:first-of-type {
                    .network-item-wrap {
                        margin-top: 8px;
                        &:before {
                            display: none;
                        }
                    }
                }
                section:last-of-type {
                    .network-item-wrap {
                        &:after {
                            display: none;
                        }
                    }
                    & + .disabled {
                        .network-footer-area {
                            height: 55px;
                            margin-top: 10px;
                        }
                    }
                }

            }
            .network {
                &-item {
                    display: block;
                    margin-top: -1px;
                    color: #828C94;
                    position: relative;

                    &:hover,
                    &.active {
                        .network-item-wrap {
                            background-color: #414f53;
                            color: #ADB4BA;
                            &:before {
                                background-color: #414f53;
                            }
                            &:after {
                                background-color: #414f53;
                            }
                        }
                    }


                    &-wrap {
                        height: 36px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        transition: background-color $speed;
                        
                        &:before,
                        &:after {
                            background-color: #3d4c50;
                            width: 310px;
                            content: "";
                            height: 1px;
                            margin: 0 auto;
                            display: block;
                            transition: background-color $speed;
                        }
                    }

                    &-bg {
                        position: absolute;
                        right: -6px;
                        left: -6px;
                        bottom: 0;
                        top: 0;
                        background-color: #263538;
                        z-index: -1;
                    }
                    & + div:first-of-type {
                        margin-top: 15px;
                        .network-item-bg {
                            top: -7px;
                        }
                        .network-item-wrap {
                            &:before {
                                display: none;
                            }
                        }
                    }
                    
                    
                    & + div:last-of-type {
                        margin-bottom: 15px;
                        .network-item-bg {
                            bottom: -7px;
                        }
                        .network-item-wrap {
                            &:after {
                                display: none;
                            }
                        }
                    }


                }
                &-content {
                    display: flex;
                    margin: auto;
                    width: 100%;
                    max-width: 310px;
                    .accounts {
                        display: flex;
                        margin-left: auto;
                        li {
                            font-size: 14px;
                            transition: color $speed;
                            letter-spacing: 1px;
                            &:not(:last-child) {
                                margin-right: 6px;
                            }
                        }
                    }
                }
                &-title {
                    font-size: 14px;
                    margin: auto 0;
                    transition: color $speed;
                }
                &-info {
                    right: 0;
                    left: 0;
                }
                &-body {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }
                &-footer {
                    right: 0;
                    left: 0;
                    bottom: 0;
                    height: 60px;
                    position: absolute;
                    background-color: #263538;
                    &-area {
                        height: 30px;

                    }
                }
            }

            &:hover {
                & + .network-info {
                    opacity: 1;
                }
            }

            & + .network-info {
                z-index: 2;
                top: 40px;
                right: 6px;
                left: 6px;

            }
        }

    }
}

.network-info {
    opacity: 0;
    transition: opacity $speed;
    position: absolute;
    margin-top: 5px;
    background-color: #293134;
    display: flex;

    border-radius: $angularMin;

    li {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0 0 0 15px;
        font-family: FNMedium;
        letter-spacing: 1px;
        div {

            &:first-child {
                color: #838C94;
                font-size: 13px;
                margin-bottom: 6px;
            }
            &:last-child {
                color: #ADB4BA;
                font-size: 11px;
            }
        }
        &:first-child {
            padding: 0 0 0 20px;
        }
        &:not(:last-child) {
            border-right: 1px solid #232b2e;
        }
    }
}