.user-icon-wrap {

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding: 0;
    border: 0;

	.content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
    &.small {
        .content {
            height: 22px;
            width: 22px;
			img {
				width: 16px;
			}
        }
	}
	
    &.medium {
		.content { 
			width: 42px;
			height: 42px;
		}
		img {
			width: 32px;
		}
	}
	
    &.big {
        width: 86px;
		height: 86px;
		img {
			width: 40px;
			margin-bottom: 2px;
		}
    }



    &.select {
        min-width: 60px;
        height: 60px;
        cursor: pointer;
        transition:
            background-color $speed,
            box-shadow $speed,
            border $speed;
        border: 1px solid transparent;

        .content {
			pointer-events: none;
			img {
				width: 36px;
				opacity: .3;
				transition: opacity $speed;
			}
		}
		&:hover,
		&:focus {
			.content {
				img {
					opacity: .7;
				}
			}

		}
        &.active {
            box-shadow:
                0 -3px 6px rgba(#3f4c4e,0.06),
                0 3px 6px rgba(#3f4c4e,0.06);
            background-color: #fff;
			.content {
                img {
                    opacity: 1;
				}
			}
        }
        &:hover,
        &:focus {
            &:not(.active) {
                border: 1px solid #b7bdbf;
            }
        }
    }

    &.back {
        [class*="icon-ava"] {
            font-size: 50px;
            opacity: .3;
            transition: opacity $speed;
        }
    }

    &.transparent {
        background-color: transparent;
    }

    &.green {
        background-color:#16d6aa;
    }

    &.sky {
        background-color: #76c5d3;
    }

    &.blue {
        background-color: #7683d3;
    }

    &.pink {
        background-color: #b989cf;
    }

    &.red {
        background-color: #d36496;
    }

    &.yellow {
        background-color: #d3c564;
    }

    &.lemon {
        background-color: #cbd376;
    }



    &.change-animation {
        opacity: 1;
        [class*="icon-ava"] {
            font-size: 35px;
            display: block;
            margin-top: -3px;
        }

        .content {
            transition: opacity $speed;
        }
        .animation-blobs {
            cursor: pointer;
            transition: box-shadow $speed;
            &:active {
                background-color: rgba(#3e4b4e, .2);
            }
            &:hover,
            &:focus {
                transition: box-shadow $speed;
                box-shadow:
                    0 -3px 8px rgba(#3f4c4e,0.2),
                    0 3px 8px rgba(#3f4c4e,0.2);
            }
            
        }
       .blob {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            margin: auto;
            top: auto;
            bottom: 13px;
            background-color: rgba(#405051, .4);
            will-change: contents;
            transition:
                transform $speed ease,
                border .1s ease,
                width .1s ease,
                background-color $speed ease;
            
            &:first-child {
                left:0;
                right: 0;
                transform: translate(5px, 0);
            }
            &:last-child {
                left: 0;
                right: 0;
                transform: translate(-5px, 0);
            }
       }
        &:hover {
            .blob {
                border-radius: 0;
                height: 2px;
                width: 16px;
                background-color: #405051;
                bottom: 15px;
                &:first-child {
                    transform: translate(0, 0);
                }
                &:last-child {
                    transform: translate(0, 0);
                }
            }
            .animation-text {
                display: flex;
            }
            .content {
                opacity: .2;
            }
        }
    }

    &.back-animation {
        [class*="icon-ava"] {
            font-size: 29px;
            display: block;
            margin-top: -21px;
        }
        .animation-blobs {
            height: auto;
            width: auto;
            cursor: pointer;
            top: 0;
            bottom: 0;
            transition: box-shadow $speed, background-color $speed;
            &:active {
                background-color: rgba(#3f4c4e,0.1);
            }
            &:hover,
            &:focus {
                box-shadow:
                    0 -3px 8px rgba(#3f4c4e,0.2),
                    0 3px 8px rgba(#3f4c4e,0.2);
            }
        }
        .blob {
            height: 2px;
            width: 16px;
            border-radius: 1px;
            right: 0;
            left: 0;
            top: auto;
            bottom: 23px;
            background-color: #405051;
            position: absolute;
            margin: auto;
            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }


}

.animation-blobs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.animation-text {
	animation: fadeInUp .4s;
	position: absolute;
	right: 0;
    left: 4px;
    top: -1px;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
    color: #3E4851;
    font-family: FNBook;
    font-size: 14px;
    letter-spacing: .3px;
    user-select: none;
}