.user-icon-wrap {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding: 0;
    border: 0;
    &.big {
        min-width: 86px;
        height: 86px;
        [class*="icon-ava"] {
            font-size: 32px;
        }
    }

    &.medium {
        min-width: 41px;
        height: 41px;
        [class*="icon-ava"] {
            font-size: 32px;
        }
    }

    &.select {
        min-width: 61px;
        height: 61px;
        cursor: pointer;
        transition:
            background-color $speed,
            box-shadow $speed,
            border $speed;
        border: 1px solid transparent;
        [class*="icon-ava"] {
            font-size: 50px;
            opacity: .3;
            transition: opacity $speed;
        }
        &.active {
            box-shadow:
                0 -3px 6px rgba(#3f4c4e,0.06),
                0 3px 6px rgba(#3f4c4e,0.06);
            background-color: #fff;
            [class*="icon-ava"] {
                opacity: 1;
            }
            &:hover {
                border: 1px solid transparent;
                [class*="icon-ava"] {
                    opacity: 1;
                }
            }
        }
        &:hover,
        &:focus {
            &:not(.active) {
                border: 1px solid #b7bdbf;
                [class*="icon-ava"] {
                    opacity: .6;
                }
            }
        }
    }

    &.transparent {
        background-color: transparent;
    }

    &.green {
        background-color:#16d6aa;
    }

    &.sky {
        background-color: #76c5d3;
    }

    &.blue {
        background-color: #7683d3;
    }

    &.pink {
        background-color: #b989cf;
    }

    &.red {
        background-color: #d36496;
    }

    &.yellow {
        background-color: #d3c564;
    }

    &.lemon {
        background-color: #cbd376;
    }







    [class*="icon-ava"] {
        color: #3f4c4e;
        font-size: 19px;
    }


    &.change-animation {
        opacity: 1;
        &.big {
            [class*="icon-ava"] {
                font-size: 51px;
                display: block;
                margin-top: -6px;
            }
            // .icon-ava1,
            // .icon-ava3,
            // .icon-ava7,
            // .icon-ava8,
            // .icon-ava9,
            // .icon-ava10,
            // .icon-ava11,
            // .icon-ava15 {
            //     margin: -6px 0 0 3px;
            // }

            // .icon-ava6,
            // .icon-ava12 {
            //     margin: -6px 0 0 2px;
            // }

            // .icon-ava14 {
            //     margin: -6px 0 0 5px;
            // }

        }
        & > *:not([class^="animation-"]) {
            transition: opacity .3s;
        }
        &:hover {
            .blob {
                border-radius: 0;
                height: 2px;
                width: 16px;
                background-color: #405051;
                &:first-child {
                    transform: translate(0, 0);
                }
                &:last-child {
                    transform: translate(0, 0);
                }
            }
            .animation-text {
                display: flex;
            }
            & > *:not([class^="animation-"]) {
                opacity: .2;
            }
        }
    }
}

.animation-blobs {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 14px;
	height: 4px;
	width: 16px;
	margin: auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blob {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(#405051, .4);
	transition:
		transform .2s,
		border .2s,
		width .2s,
		background-color .2s;
	
	&:first-child {
		left:0;
		transform: translate(14px, 0);
	}
	&:last-child {
		right: 0;
		transform: translate(-14px, 0);
	}
}

.animation-text {
	animation: fadeInUp .4s;
	position: absolute;
	right: 0;
    left: 4px;
    top: -1px;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
    color: #3E4851;
    font-family: FNBook;
    font-size: 14px;
    letter-spacing: .3px;
    user-select: none;
}
