.user-icon-wrap {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.green {
        background-color:#16d6aa;
    }

    &.yellow {

    }

    &.lemon {

    }

    &.blue {

    }

    &.sky {

    }

    &.pink {

    }

    &.red {

    }

    [class*="icon-ava"] {
        color: #3f4c4e;
        font-size: 19px;
    }
}