%input {
    width: 100%;
    border: 0;
    background-color: transparent;
    text-align: center;
    z-index: 2;
    font-family: FNMedium;
    font-size: 16px;

    transition: color $speed, padding $speed;
    padding: 0;
    letter-spacing: 1.8px;
}

.input {
    text-align: center;
    position: relative;
    height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    &-wrap {
        text-align: center;
        & + .input-wrap {
            margin-top: 24px;
        }
    }
    &.left {
        text-align: left;

        input,
        .input-wrap {
            text-align: left;
        }
    }
    .icon-eye {
        color: #aaacad;
        display: none;
        cursor: pointer;
        position: absolute;
        right: 2px;
        z-index: 2;
        background-color: transparent;
        border: 0;
        font-size: 20px;
        padding: 0 0 8px 0px;
        height: 30px;
    }
    &.up,
    &.filled {
        .label {
            line-height: 1px;
            font-size: 12px;
            letter-spacing: 1.2px;
            left: 3px;
        }

        input {
            height: 30px;
            padding-bottom: 15px;
            &[type="password"] {
                height: 40px;
            }
        }

        &.eye {
            input {
                padding: 0 30px 0 30px;
            }
            .icon-eye {
                display: block;

            }
        }

    }


    &.error {
        input {
            color: $colorError;
        }
        input[type="password" i] {
            color: $colorError !important;
        }
    }

    &-light {
        .input {
            &.error {
                &:after {
                    background-color: #f2a3b1;
                }
                &.up,
                &.focused,
                &:hover {
                    &:after {
                        background-color: $colorError;
                    }
                }
            }

            &:after {
                background-color: #c8cfd2;
            }

            .label {
                color: #92999e;
            }

            &:not(.disabled):not(.error) {

                input {
                    color: #3d4b52;
                }

                &:hover {
                    &:after {
                        background-color: #848e95;
                    }
                }
                &.up {
                    &:after,
                    &:before {
                        background-color: #606c74;
                    }
                }
            }

            &:hover:not(.disabled){
                .label {
                    color: #80888c;
                }
            }
            &.up {
                .label {
                    color: #80888c;
                }
            }

        }

    }
    &-dark {

        .input {

            input {
                color: #fff !important;
                -webkit-text-fill-color: #fff !important;
                // #9ba2a5
                &::placeholder {
                    color: #fff !important;
                }
            }

            &.error {
                &:after {
                    background-color: #96364a;
                }
                &.up,
                &:hover {
                    &:after {
                        background-color: $colorError;
                    }
                }
            }

            .label {
                color: #b4b5ba;
            }


            &:not(.disabled):not(.error) {

                &:after {
                    background-color: #596569;
                }

                input {
                    color: #b4b5ba;
                }

                &:hover {
                    input {
                        color: #ffffff;
                    }
                    &:after {
                        background-color: #9ba2a5;
                    }
                }
                &.up,
                &.focused {
                    input {
                        color: #ffffff;
                    }
                    &:after,
                    &:before {
                        background-color: #9ba2a5;
                    }
                }
            }

            &:hover:not(.disabled){
                .label {
                    color: #c8c9ce;
                }
            }

            &.up {
                .label {
                    color: #c8c9ce;
                }
            }


        }
        .message {
            &-hint {
                color: #ca304e;
            }
            &-description {
                color: rgba(#fff, .2);
                max-width: 280px;
            }

        }
    }

    .label {
        right: 0;
        left: 0;
        position: absolute;
        top: 0;
        line-height: 47px;
        font-size: 17px;
        transition: line-height $speed, font-size $speed, color $speed;
        font-family: FNMedium;
    }

    // BORDER
    &:after {
        right: 0;
        left: 0;
        content: "";
        position: absolute;
        bottom: 1px;
        height: 1px;
        transition: background-color $speed;
    }
    &:before {
        right: 0;
        left: 0;
        content: "";
        position: absolute;
        bottom: 2px;
        height: 1px;
        transition: background-color $speed;
        background-color: transparent;
    }

    input {
        @extend %input;
        height: 42px;
    }

}

// message

.message {
    &-error {
        color:  $colorError;
        font-family: FNBook;
        animation: fadeIn $speed;
        text-align: center;
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 14px;
        & + .message-description {
            margin-top: 32px;
        }
        & + .message-hint {
            display: block;
        }
    }
    &-hint {
        margin-top: 6px;
        font-family: FNBook;
        font-size: 15px;
        color: #3b454a;
        letter-spacing: 1px;
        animation: fadeIn $speed;

        & + .message-description {
            margin-top: 22px;
        }
    }
    &-description {
        font-family: FNBook;
        font-size: 14px;
        color: #9ca1a5;
        margin: 15px auto 0;
        letter-spacing: 1px;
        line-height: 21px;
        max-width: 238px;
        padding-left: 3px;
    }
}

input[type="password" i] {
    letter-spacing: -5px !important;
}
