%link {

    transition: color $speed, opacity .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    transition: all .2s ease-out;

    &-return {
        @extend %link;
		font-family: FNBold;
		padding: 5px 10px;
		margin-left: -8px;
		color: #253738;
		opacity: .7;
        min-width: 89px;
        text-transform: uppercase;
        cursor: pointer;
        &:not(.disabled) {
			@include hardwareAccel();
			&:before {
				content: '';
				position: absolute;
				transition: border-color $speed;
				border-radius: $angularMin + 2px;
				border: 2px solid transparent;
				top: -2px;
				right: -2px;
				bottom: -2px;
				left: 2px;
			}
			&:not(:active) {
				&:focus {
					&:before {
						border-color: #ccd2d6;
					}
				}
			}
        }
        img {
            width: 20px;
			margin-right: 10px;
			
        }
        &:hover {
            opacity: 1;
		}
		
		&.green {
			color: #35E7BC;
			&:not(.disabled) {
				&:not(:active):focus:before {
					border-color: rgba(#fff, .2);
				}
			}
        }
    }

    &.gray {
        border: 2px solid transparent;
        border-radius: 6px;
        padding: 4px;
        
        font-family: FNBook;
        font-size: 13px;
        color: rgba(255, 255, 255, .2);

        &:focus {
            border-color: #434e52;
        }
        
        &:hover {
            color: #7d898e;
        }

        &:active {
            opacity: 0.5;
		}
		

    }

    &-text {
        font-size: 10px;
        letter-spacing: 2.5px;
        display: block;
    }
}