.navbar {
    ul {
        height: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px 0 16px;
        li {
            &:only-child,
            &:last-child {
                &.page-title {
                    margin: auto;
                }
            }
        }
        .btn-nav-wrap {
            & + .page-title {
                margin-right: auto;
                & + .link-nav {
                    margin-left: auto;
                }
            }
        }
        .page-title {
            font-family: FNBook;
            color: #FFFFFF;
            font-size: 19px;
            letter-spacing: 1px;
            & + .link-nav {
                margin-left: auto;
            }
        }
        .link-nav {
            font-family: FNBook;
            a {
                color: #61D3AD;
                font-size: 13px;
                letter-spacing: 1px;
            }
        }
        .btn-nav {
            margin: 0 10px 0 -8px;
        }
    }
}